@import "~/styles/media.css";

:root {
	--cb-green: #00503c;
	--cb-blue: #002348;
	--cb-orange: #c85a19;
	--cb-orange-hsl: 22 78% 44%;
	--cb-dark-orange: #ab3d16;

	--black: var(--gray-9);
	--white: #fff;
	--always-white: #fff;
	--always-black: var(--gray-9);

	--brand: var(--cb-orange);
	--brand-hsl: var(--cb-orange-hsl);
	--accent: var(--cb-green);
	--link: var(--brand);
	--link-hsl: var(--orange-7-hsl);
	--link-hover: var(--orange-9);
	--link-visited: var(--brand);
	--text-1: var(--gray-9);
	--text-2: var(--gray-7);
	--input-color: hsl(var(--gray-12-hsl) / 50%);
	--surface-1: var(--white);
	--surface-2: var(--gray-1);
	--surface-3: var(--gray-3);
	--surface-4: var(--gray-4);
	--surface-1-hsl: var(--gray-3-hsl);
	--surface-2-hsl: var(--gray-1-hsl);
	--surface-3-hsl: var(--gray-4-hsl);
	--surface-4-hsl: var(--gray-5-hsl);
	--scrollthumb-color: var(--orange-7);
	--shadow-strength: 1% !important;

	@media (--OSdark) {
		--cb-green: #00503c;
		--cb-blue: #002348;
		--cb-orange: #c85a19;
		--cb-dark-orange: #ab3d16;

		--black: var(--gray-2);
		--white: var(--gray-9);
		--always-white: #fff;
		--always-black: var(--gray-9);

		--brand: var(--cb-orange);
		--accent: var(--cb-green);
		--link: var(--brand);
		--link-hsl: var(--orange-3-hsl);
		--link-hover: var(--orange-1);
		--link-visited: var(--brand);
		--text-1: var(--gray-1);
		--text-2: var(--gray-3);
		--input-color: hsl(var(--gray-12-hsl) / 50%);
		--surface-1: var(--gray-9);
		--surface-2: var(--gray-8);
		--surface-3: var(--gray-7);
		--surface-4: var(--gray-6);
		--surface-1-hsl: var(--gray-9-hsl);
		--surface-2-hsl: var(--gray-8-hsl);
		--surface-3-hsl: var(--gray-7-hsl);
		--surface-4-hsl: var(--gray-6-hsl);
		--scrollthumb-color: var(--orange-6);
		--shadow-strength: 10%;
		--shadow-color: 220 40% 2%;
		color-scheme: dark;
	}
}

[data-theme="light"] {
	--cb-green: #00503c;
	--cb-blue: #002348;
	--cb-orange: #c85a19;
	--cb-dark-orange: #ab3d16;

	--black: var(--gray-9);
	--white: #fff;
	--always-white: #fff;
	--always-black: var(--gray-9);

	--brand: var(--cb-orange);
	--accent: var(--cb-green);
	--link: var(--brand);
	--link-hsl: var(--orange-7-hsl);
	--link-hover: var(--orange-9);
	--link-visited: var(--brand);
	--text-1: var(--gray-9);
	--text-2: var(--gray-7);
	--input-color: hsl(var(--gray-12-hsl) / 50%);
	--surface-1: var(--white);
	--surface-2: var(--gray-1);
	--surface-3: var(--gray-3);
	--surface-4: var(--gray-4);
	--surface-1-hsl: var(--gray-3-hsl);
	--surface-2-hsl: var(--gray-1-hsl);
	--surface-3-hsl: var(--gray-4-hsl);
	--surface-4-hsl: var(--gray-5-hsl);
	--scrollthumb-color: var(--orange-7);
	--shadow-strength: 1% !important;
}

[data-theme="dark"] {
	--cb-green: #00503c;
	--cb-blue: #002348;
	--cb-orange: #c85a19;
	--cb-dark-orange: #ab3d16;

	--black: var(--gray-2);
	--white: var(--gray-9);
	--always-white: #fff;
	--always-black: var(--gray-9);

	--brand: var(--cb-orange);
	--accent: var(--cb-green);
	--link: var(--brand);
	--link-hsl: var(--orange-3-hsl);
	--link-hover: var(--orange-1);
	--link-visited: var(--brand);
	--text-1: var(--gray-1);
	--text-2: var(--gray-3);
	--input-color: hsl(var(--gray-12-hsl) / 50%);
	--surface-1: var(--gray-9);
	--surface-2: var(--gray-8);
	--surface-3: var(--gray-7);
	--surface-4: var(--gray-6);
	--surface-1-hsl: var(--gray-9-hsl);
	--surface-2-hsl: var(--gray-8-hsl);
	--surface-3-hsl: var(--gray-7-hsl);
	--surface-4-hsl: var(--gray-6-hsl);
	--scrollthumb-color: var(--orange-6);
	--shadow-strength: 10%;
	--shadow-color: 220 40% 2%;
	color-scheme: dark;
}
