@charset "UTF-8";

@font-face {
	src: url("/fonts/InputCipher[ATBS,DCOD,RDCT,RT05,RT13,RT47,wdth,wght].min.woff2")
		format("woff2");
	font-family: "Input Cipher Web";
	font-style: normal;
	font-weight: 100 900;
}

@font-face {
	src:
		url("/fonts/RoslindaleVariable[opsz,slnt,wdth,wght].woff2") format("woff2"),
		url("/fonts/RoslindaleVariable[opsz,slnt,wdth,wght].woff") format("woff");
	font-family: "Roslindale Variable";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-ExtraLight.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-ExtraLight.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: 200;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-ExtraLightItalic.woff2")
			format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-ExtraLightItalic.woff")
			format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: italic;
	font-weight: 200;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-Light.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-Light.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: 300;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-LightItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-LightItalic.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: italic;
	font-weight: 300;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-Regular.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-Regular.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-Italic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-Italic.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-Medium.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-Medium.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-MediumItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-MediumItalic.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: italic;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-SemiBold.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-SemiBold.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-SemiBoldItalic.woff2")
			format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-SemiBoldItalic.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: italic;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-Bold.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-Bold.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-BoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-BoldItalic.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-Black.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-Black.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: 800;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-BlackItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-BlackItalic.woff") format("woff");
	font-family: "Roslindale";
	font-style: italic;
	font-weight: 800;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-Ultra.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-Ultra.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: 900;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-UltraItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-UltraItalic.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: normal;
	font-weight: 900;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-ExtraLight.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-ExtraLight.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: 200;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-ExtraLightItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-ExtraLightItalic.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: italic;
	font-weight: 200;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-Light.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-Light.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: 300;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-LightItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-LightItalic.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: italic;
	font-weight: 300;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-Regular.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-Regular.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-Italic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-Italic.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-Medium.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-Medium.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-MediumItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-MediumItalic.woff") format("woff");
	font-family: "Roslindale";
	font-style: italic;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-SemiBold.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-SemiBold.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-SemiBoldItalic.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: italic;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-Bold.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-Bold.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-BoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-BoldItalic.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-Black.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-Black.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: 800;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-BlackItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-BlackItalic.woff") format("woff");
	font-family: "Roslindale Display Narrow";
	font-style: italic;
	font-weight: 800;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayNarrow-Ultra.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayNarrow-Ultra.woff") format("woff");
	font-family: "RoslindaleDisplayNarrow";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplayCondensed-UltraItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplayCondensed-UltraItalic.woff") format("woff");
	font-family: "RoslindaleDisplayCondensed";
	font-style: italic;
	font-weight: 900;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-ExtraLight.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-ExtraLight.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: 200;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-ExtraLightItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-ExtraLightItalic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: 200;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-Light.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-Light.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: 300;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-LightItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-LightItalic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: 300;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-Regular.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-Regular.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-Italic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-Italic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-Medium.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-Medium.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-MediumItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-MediumItalic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-SemiBold.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-SemiBold.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-SemiBoldItalic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-Bold.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-Bold.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-BoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-BoldItalic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-Black.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-Black.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: 800;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-BlackItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-BlackItalic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: 800;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-Ultra.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-Ultra.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: normal;
	font-weight: 900;
}

@font-face {
	src:
		url("/fonts/RoslindaleDisplay-UltraItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDisplay-UltraItalic.woff") format("woff");
	font-family: "RoslindaleDisplay";
	font-style: italic;
	font-weight: 900;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-Regular.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-Regular.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-Italic.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-Italic.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-Medium.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-Medium.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: normal;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-MediumItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-MediumItalic.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: italic;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-SemiBold.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-SemiBold.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-SemiBoldItalic.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: italic;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-Bold.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-Bold.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleDeckNarrow-BoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleDeckNarrow-BoldItalic.woff") format("woff");
	font-family: "RoslindaleDeckNarrow";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-Regular.woff2") format("woff2"),
		url("/fonts/RoslindaleText-Regular.woff") format("woff");
	font-family: "RoslindaleText";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-Italic.woff2") format("woff2"),
		url("/fonts/RoslindaleText-Italic.woff") format("woff");
	font-family: "RoslindaleText";
	font-style: italic;
	font-weight: normal;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-Medium.woff2") format("woff2"),
		url("/fonts/RoslindaleText-Medium.woff") format("woff");
	font-family: "RoslindaleText";
	font-style: normal;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-MediumItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleText-MediumItalic.woff") format("woff");
	font-family: "RoslindaleText";
	font-style: italic;
	font-weight: 500;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-SemiBold.woff2") format("woff2"),
		url("/fonts/RoslindaleText-SemiBold.woff") format("woff");
	font-family: "RoslindaleText";
	font-style: normal;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-SemiBoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleText-SemiBoldItalic.woff") format("woff");
	font-family: "RoslindaleText";
	font-style: italic;
	font-weight: 600;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-Bold.woff2") format("woff2"),
		url("/fonts/RoslindaleText-Bold.woff") format("woff");
	font-family: "RoslindaleText";
	font-style: normal;
	font-weight: bold;
}

@font-face {
	src:
		url("/fonts/RoslindaleText-BoldItalic.woff2") format("woff2"),
		url("/fonts/RoslindaleText-BoldItalic.woff") format("woff");
	font-family: "Roslindale";
	font-style: italic;
	font-weight: 700;
}
