@import "open-props/media" layer(base.media);
/* @import "open-props/normalize" layer(base.reset); */
/* @import "open-props/theme.light.switch.min.css" layer(base.reset); */
/* @import "open-props/theme.dark.switch.min.css" layer(base.reset); */
@import "~/styles/props.css" layer(base.props);
@import "~/styles/fonts.css" layer(base.fonts);
@import "~/styles/reset.css" layer(base.reset);
@import "~/styles/theme.css" layer(base.theme);
/* @import "~/styles/asides.css" layer(component); */

@layer utilities {
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}
}
