@import "~/styles/media.css";
@import "open-props/gradients";
@import "~/styles/color-theme.css";
@import "~/styles/custom-normalize.css";
@import "~/styles/prose.css";

:root {
	--site-width: 60rem;
	--site-columns: 1fr;
	--site-columns-wide:  1fr;
	--_curtains: hsl(var(--brand-hsl) / 75%);
	@media(--md-n-above) {
		--site-columns: 1fr min(660px, 100%) minmax(0%, 260px) minmax(0%, 360px) 1fr;
		--site-columns-wide:  1fr min(760px, 100%) minmax(0%, 210px) minmax(0%, 310px) 1fr;
	}
}

.container {
	margin-inline: auto;
	width: 100%;
	max-inline-size: var(--site-width);
	padding-inline: var(--size-4);
	@media (--md-n-above) {
		padding-inline: var(--size-7);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
