---
import Layout from "~/layouts/MainLayout.astro";
import Header from "~/components/Header.astro";
import Breadcrumbs from "~/components/Breadcrumbs.astro";
import siteInfo from "~/data/site-info";
import PostFooter from "~/components/PostFooter.astro";
---

<Layout title="Page not found" canonicalURL={null}>
	<div
		class="page-header"
		id="four-o-four"
		data-goal={siteInfo.fathom404GoalId}
	>
		<Header />
		<Breadcrumbs text="« Go back to the Blog homepage" url="/" />
	</div>
	<div class="overlap">
		<div class="bigText">404</div>
		<h1>Sorry, page not found!</h1>
	</div>
	<PostFooter />
</Layout>

<style>
	@import "~/styles/media.css";

	div.page-header {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: 1fr;
		
		position: relative;
		overflow: hidden;
		@media (--md-n-above) {
			grid-template-columns: var(--site-columns);
		}
	}
	div.overlap {
		margin-inline: var(--size-3);
		display: grid;
		grid-column: 1;
		@media (--md-n-above) {
			grid-column: 2 / -1;
		}
	}
	div.bigText {
		grid-column: 1;
		grid-row: 1;
		font-size: clamp(4rem, 38vw + 1rem, 36.25rem);
		font-family: var(--font-mono);
		font-weight: 700;
		line-height: normal;
		color: var(--brand);
	}
	h1 {
		grid-column: 1;
		grid-row: 1;
		color: var(--black);
		font-family: var(--font-mono);
		font-weight: 700;
		font-size: clamp(2rem, 8vw + 1rem, 4rem);
		line-height: normal;
	}
</style>

<script>
	if ("fathom" in window) {
		const goal = document.getElementById("four-o-four")?.dataset.goal;
		if (goal)
			window.addEventListener("load", () => window.fathom.trackGoal(goal, 0));
	}
</script>
