---
import CategoriesList from "./CategoriesList.astro";
import TagsList from "./TagsList.astro";
import type { Taxonomy } from "~/helpers/taxonomies";

type Props = {
	categories?: Taxonomy[];
	tags?: Taxonomy[];
};
const { categories, tags }: Props = Astro.props;
---

{
	(categories || tags) && (
		<aside role="note">
			{categories && categories.length > 0 && (
				<>
					<p>Categories</p>
					<CategoriesList {categories} />
				</>
			)}
			{tags && tags.length > 0 && (
				<>
					<p>Tags</p>
					<TagsList {tags} />
				</>
			)}
		</aside>
	)
}
<style>
	@import "open-props/media" layer(base.media);
	@layer component {
		aside {
			grid-column: sidebar;
			grid-row: taxonomy-start / taxonomy-end;
			background-color: var(--surface-1);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			gap: 1em;
		}
		.category {
			--_color: var(--text-1);
			position: relative;
			padding-block: 0.5ch;
			padding-inline: 1ch;
			border-color: var(--neon);
			border-block-start-width: var(--border-size-3);
			border-block-end-width: var(--border);
			& > a {
				color: var(--_color);
				text-transform: uppercase;
				font-style: normal;
				font-family: var(--font-display);
				text-decoration: none;
				&::before {
					content: "";
					position: absolute;
					inset: 0;
				}
			}
			&:hover {
				background-color: var(--neon);
				--_color: var(--surface-1);
			}
		}
	}
</style>
