---
import HeroImage from "~/components/HeroImage.astro";
import Header from "~/components/Header.astro";
import siteInfo from "~/data/site-info";
import categoriesInfo from "~/data/categories-info";
import Search from "~/components/Search.astro";


type Props = {
	category: string;
};

const { category } = Astro.props as Props;

const description = categoriesInfo.filter((cat) => cat.category === category)[0]
	?.description;
---

<div class="page-header">
	<HeroImage />
	<Header theme="dark" />
	<hgroup>
		<h1 id="skip-destination">
			{category !== "All Categories" ? `The “${category}” Category` : category}
		</h1>
		<p>
			{
				description
					? description
					: `Browse all ${siteInfo.name} posts about ${category}`
			}
		</p>
	</hgroup>
	<div class="search">
		<Search
				id="catalogsearch"
				selector="#catalog > li"
				placeholder={"Search posts"}
			/>
	</div>
	<div class="spacer"></div>
</div>

<style>
	@import "~/styles/media.css";

	div.page-header {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: 1fr;
		background-color: var(--cb-blue);
		clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
		position: relative;
		overflow: hidden;
		/* min-block-size: 40vb; */
		@media (--md-n-above) {
			grid-template-columns: var(--site-columns);
		}
	}

	hgroup {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-column: 2/-2;
		gap: var(--size-9);
		padding-block-start: var(--size-11);
		margin-inline: var(--size-3);
		color: var(--always-white);
		& h1 {
			font-size: clamp(2rem, 5vw + 1rem, 4rem);
			grid-column: 1/-1;
			color: var(--always-white);
		}
		& p {
			grid-column: 1 / 3;
			margin-block-end: clamp(16px, 4vw, 52px);
			font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
		}
	}
	div.search {
		grid-column: 2/-2;
	}
	div.spacer {
		padding-block-end: 80px;
		grid-row: 5;
	}
</style>
