---
import type { Taxonomy } from "~/helpers/taxonomies";

type Props = {
	category: Taxonomy;
};
const { category }: Props = Astro.props;
---

<a href={`/category/${category.name}/`} class="category">
	{category.name}
</a>

<style>
	@import "open-props/media" layer(base.media);
	@layer component {
		a {
			color: var(--_color);
			text-transform: uppercase;
			font-style: normal;
			font-family: var(--font-display);
			text-decoration: none;
			&::before {
				content: "";
				position: absolute;
				inset: 0;
			}
		}
	}
</style>
