---
import siteInfo from "~/data/site-info.js";
import SocialLinks from "./SocialLinks.astro";

const socialLinks = siteInfo.socialLinks;
---

<footer>
	<nav aria-label="Legal">
		<a href="/privacy">Privacy Policy</a>
		<a href="/terms">Terms of Use</a>
		<p>
			<a href="/license" target="_blank">MIT License</a> &copy; {
				new Date().getFullYear()
			}
			<a href="/contributors" target="_blank">Cédric Bontems</a>
		</p>
		<SocialLinks links={socialLinks} class="footerSocial"/>
	</nav>
</footer>

<style>
	@import "~/styles/media.css";

	footer {
		margin-block-start: auto;
		@media (--md-n-above) {
			grid-column: 2 / -2;
		}
	}

	nav {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		align-items: center;
		padding-block: var(--size-5);
		margin-inline: var(--size-3);
		opacity: 0.75;
		@media (--md-n-above) {
			grid-template-columns: auto auto 1fr auto;
			padding-block: var(--size-7);
		}
	}
	nav,
	p {
		color: white;
		font-size: var(--font-size-0);
	}
	a[href]{
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
</style>
