---
import FooterNavigation from "~/components/FooterNavigation.astro";
---

<footer role="contentinfo">
	<FooterNavigation />
	<p class="row2">
		&copy; <span id="copyYear"></span> — Cédric Bontems. Built with <a
			href="/astro/">Astro</a
		> and <a href="/solid/">Solid</a>. Hosted on <a href="/netlify/">Netlify</a
		>. Analytics by <a href="/fathom/">Fathom</a>.
	</p>
</footer>
<style>
	@import "open-props/media" layer(base.media);
	@layer component {
		footer {
			grid-area: footer;
			padding-inline: var(--_gutter);
			padding-block-end: var(--_gutter);
			background-color: var(--surface-2);
			:global([data-theme="light"]) & {
				border-block-start: var(--border) solid var(--surface-4);
			}
			:global([data-theme="dark"]) & {
				background-color: var(--surface-2);
			}
		}
		.row2 {
			font-size: 80%;
			color: var(--text-2);
			:global([data-theme="dark"]) & {
				color: var(--text-2);
			}
			inline-size: 100%;
			margin-inline: auto;
			text-align: center;
		}
		a {
			color: var(--neon);
			text-decoration: var(--neon) underline;
			text-underline-offset: 0.2em;
			&:hover {
				color: var(--text-1);
			}
			&:visited {
				color: var(--text-2);
			}
		}
	}
</style>
<script>
	const copyYear = document.getElementById("copyYear");
	if (copyYear) copyYear.textContent = new Date().getFullYear().toString();
</script>
