---
import siteInfo from "~/data/site-info.js";
import SocialLinks from "~/components/SocialLinks.astro";
const socialLinks = siteInfo.socialLinks.filter((link) => !link.footerOnly);
---
<div>
	<SocialLinks links={socialLinks} />
</div>

<style>
	@import "~/styles/media.css";
	
	div {
		display: none;
		@media (--920-n-above) {
			display: flex;
		}
	}
</style>

