---
import siteInfo from "~/data/site-info.js";
import SiteLogo from "./SiteLogo.astro";
const socialLinks = siteInfo.socialLinks.filter((link) => !link.footerOnly);
---

<nav aria-label="Primary">
	<SiteLogo />
	<ul>
		<li><a href="/posts/">Posts</a></li>
		<li><a href="/categories/" rel="prefetch">Categories</a></li>
		<li><a href="/about/" rel="prefetch">About</a></li>
	</ul>
</nav>

<style>
	@import "~/styles/media.css";
	nav {
		display: flex;
		flex-direction: row;
		gap: 0 38px;
		align-items: baseline;
	}
	ul {
		margin: 0;
		padding: 0;
		font-family: var(--font-text);
		display: none;
		gap: 0 44px;
		align-items: center;
		vertical-align: baseline;
		@media (--920-n-above) {
			display: flex;
		}
	}
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		vertical-align: baseline;
	}

	a[href] {
		color: var(--_color);
		vertical-align: baseline;
		&:visited {
			color: var(--_color);
		}
		&:hover {
			text-decoration: underline;
		}
	}

	div.spacer {
		flex: 1;
	}
	div.social-group {
		display: none;
		@media (--sm-n-above) {
			display: block;
		}
	}
</style>

<script>
	import { getElement } from "~/helpers/dom";
	getElement("[data-home-link]", HTMLAnchorElement).addEventListener(
		"contextmenu",
		(event) => {
			event.preventDefault();
			window.location.href = "/about/";
		},
	);
</script>
