---
import { Icon } from "astro-icon";
import SchemeToggle from "~/components/SchemeToggle.astro";
---

<div>
	<div>
		<SchemeToggle />
	</div>
    <a href="/feed.xml">
        <Icon name="iconoir:rss-feed" size={32} />
    </a>
</div>

<style>
	div {
		display: flex;
		align-items: center;
		justify-content: center;
		& > div {
			border-right: 1px solid var(--_color);
			padding-inline: 8px;
		}
        & a {
            color: var(--_color);
            transition: scale 0.15s var(--ease-in-out-3);
            &:hover {
                scale: 0.8;
            }
			&:visited {
				color: var(--_color);
			}
        }
		& [astro-icon] {
			margin-inline-start: 14px;
		}
	}
</style>
