---
import { Image } from "@astrojs/image/components";
---

<div>
	<Image
		src="https://doodleipsum.com/420x420/hand-drawn"
		alt={""}
		width={420}
		height={420}
		aspectRatio="1:1"
		fit="cover"
		position="entropy"
		loading="lazy"
		decoding="async"
	/>
</div>

<style>
	@import "~/styles/media.css";
div {
	right: calc(-1*var(--size-12));
	top: var(--size-11);
    position: absolute;
    z-index: -1;
    @media(--md-n-above){
        top: initial;
        right: var(--size-4);
    }
}
	img {
		position: relative;
		opacity: 0.3;
		top: 6vw;
		right: 4vw;
		height: 420px;
		filter: grayscale(1);
	}
</style>
