---
type Props = {
	words: string;
};

const { words }: Props = Astro.props;
---
<div role="presentation" class="under" aria-hidden="true">
	{words}
</div>
<div role="presentation" class="over" aria-hidden="true">
	{words}
</div>

<style>
	@import "~/styles/media.css";
	div {
		position: absolute;
		overflow: hidden;
		font-family: var(--font-display);
		font-size: clamp(var(--size-12), 36vw + 1rem, var(--size-15));
		font-weight: 900;
		pointer-events: none;
		inset-inline-start: clamp(0rem, 4vw - 1rem, var(--size-9));
		inset-inline-end: 0;
		top: var(--size-10);
		opacity: 0.1;
		contain: layout;
		font-display: block;
		line-height: normal;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
		z-index: var(--layer-1);
	}
	div.under {
		background-image: linear-gradient(
			90deg,
			var(--surface-3),
			var(--surface-4)
		);
		z-index: 0;
	}
	div.over {
		background-image: linear-gradient(
			90deg,
			var(--surface-3),
			var(--surface-4)
		);
	}
</style>
