---
import { getEntryBySlug } from "astro:content";
import { resolveImage } from "~/helpers/authors";
import { Image } from "@astrojs/image/components";

type Props = {
	name?: string;
	image?: string;
	lg?: boolean;
	hero?: boolean;
};

let { name, image, lg = false, hero = false } = Astro.props;

if (!image && name) {
	const author = await getEntryBySlug("authors", name);
	image = author && (await resolveImage(author))?.src;
}
---

{
	image && (
		<div>
			<Image
				src={image}
				alt=""
				aria-hidden="true"
				width={100}
				height={100}
				loading="lazy"
				decoding="async"
				class:list={[{"main-story-photo": hero}]}
			/>
		</div>
	)
}

<style>
	div {
		width: 100px;
		height: 100px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		border-radius: var(--radius-2);
	}
	img {
		max-width: 100px;
		position: absolute;
		object-fit: cover;
		top: 0;
		left: 0;
		z-index: -1;
		filter: var(--_avatar-filter);
		scale: var(--_avatar-scale);
		transition: filter, scale 0.3s var(--ease-elastic-3);
	}
</style>
