---
import { Icon } from "astro-icon";
---

<div>
	<footer class="_footer_gp01v_1">
		<ul>
			<li>
				<button id="back-to-top">Back to Top</button>
			</li>
			<li>/</li>
			<li>
				<a href="/posts/2"
					>Next page <Icon
						name="mdi:arrow-right-thick"
						aria-label={`Go to page 2 of 2`}
					/></a>
			</li>
		</ul>
	</footer>
</div>

<style>
	@import "~/styles/media.css";
	div {
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
		padding-block: var(--size-7);
		@media (--md-n-above) {
			padding-block: var(--size-11);
			grid-column: 2 / 3;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-auto-flow: row;
		align-items: center;
		justify-content: center;
		gap: var(--size-3);
		@media (--md-n-above) {
			grid-auto-flow: column;
			column-gap: var(--size-9);
		}
	}
	li {
		padding: 0;
		text-align: center;
	}
	li:nth-of-type(2) {
		display: none;
		@media (--md-n-above) {
			display: block;
		}
	}
	li:nth-child(3) a {
		display: flex;
		align-items: center;
		gap: var(--size-1);
	}
	a {
		color: var(--black);
		font-family: var(--font-mono);
		&:visited {
			color: var(--black);
			text-decoration-color: var(--black);
		}
	}
	button {
		background: transparent;
		border: none;
		cursor: pointer;
		color: var(--black);
		font-family: var(--font-mono);
		&:hover {
			text-decoration: underline;
		}
	}
	[astro-icon] {
		width: var(--size-4);
		height: var(--size-4);
		color: var(--link);
		&:hover {
			color: var(--link-hover);
		}
	}
</style>
<script>
	const button = document.querySelector("#back-to-top");
	if (button) {
		button.addEventListener("click", () => {
			window.scrollTo({
				top: 0,
				behavior: "smooth",
			});
		});
	}
</script>
