---
import { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import Breadcrumbs from "~/components/Breadcrumbs.astro";
import HeroImage from "~/components/HeroImage.astro";
import AuthorBlock from "~/components/AuthorBlock.astro";
import Header from "~/components/Header.astro";

type Props = {
	page: CollectionEntry<"pages">;
};

const { page } = Astro.props;
const { data, render } = page;
---

<div class="page-header">
	<HeroImage />
	<Header theme="dark" />
	<hgroup>
		<h1
			id="skip-destination"
			aria-label={`${data.seo.title}, updated on ${format(data.updated_date, "MMMM d, yyyy")}`}
		>
			{data.seo.title}
		</h1>
		<p>
			{data.seo.description}
		</p>
	</hgroup>
	<div class="spacer"></div>
</div>

<style>
	@import "~/styles/media.css";

	div.page-header {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: 1fr;
		background-color: var(--cb-dark-orange);
		clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
		position: relative;
		overflow: hidden;
		@media (--md-n-above) {
			grid-template-columns: var(--site-columns);
		}
	}

	hgroup {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-column: 2/-2;
		gap: var(--size-9);
		padding-block-start: var(--size-11);
		margin-inline: var(--size-3);
		color: var(--always-white);
		& h1 {
			font-size: clamp(2rem, 5vw + 1rem, 4rem);
			grid-column: 1/-1;
			color: var(--always-white);
		}
		& p {
			grid-column: 1 / 3;
			margin-block-end: clamp(16px, 4vw, 52px);
			font-size: clamp(1.25rem, 2vw + 1rem, 2.5rem);
		}
	}
	
	div.spacer {
		padding-block-end: 80px;
		grid-row: 5;
	}
</style>
