---
---

<div>
	<footer class="_footer_gp01v_1">
		<ul>
			<li><a href="/">Home</a></li>
			<li>/</li>
			<li>
				<button id="back-to-top">Back to Top</button>
			</li>
		</ul>
	</footer>
</div>

<style>
		@import "~/styles/media.css";
	div {
		grid-column: 1 / -1;
		display: flex;
		justify-content: center;
		padding-block: var(--size-7);
		@media(--md-n-above) {
			padding-block: var(--size-11);
			grid-column: 2 / 3;
		}
	}
	ul {
		list-style: none;
		display: grid;
		grid-auto-flow: column;
		column-gap: 56px;
		align-items: center;
		justify-content: center;
	}
	a {
		color: var(--black);
		font-family: var(--font-mono);
		&:visited {
			color: var(--black);
			text-decoration-color: var(--black);
		}
	}
	button {
		background: transparent;
		border: none;
		cursor: pointer;
		color: var(--black);
		font-family: var(--font-mono);
		&:hover {
			text-decoration: underline;
		}
	}
</style>
<script>
	const button = document.querySelector("#back-to-top");
	if (button) {
		button.addEventListener("click", () => {
			window.scrollTo({
				top: 0,
				behavior: "smooth",
			});
		});
	}
</script>
