---
import Footer from "~/components/Footer.astro";
---

<div>
	<Footer />
</div>

<style>
	@import "~/styles/media.css";

	div {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: 1fr;
		background-color: var(--accent);
		position: relative;
		overflow: hidden;
		/* min-block-size: 40vb; */
		@media (--md-n-above) {
			grid-template-columns: var(--site-columns);
		}
	}
</style>
