---
import { CollectionEntry } from "astro:content";
import { format } from "date-fns";
import PostAside from "~/components/PostAside.astro";

type Props = {
	post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { data, render } = post;
const { Content, headings } = await render();
---

<div>
	<article class="prose">
		<time datetime={data.publishDate.toISOString()}>
			{format(data.publishDate, "MMMM d, yyyy")}
		</time>
		<Content />
	</article>
	<PostAside categories={data.categories} headings={headings} />
</div>

<style>
	@import "~/styles/media.css";
	div {
		display: grid;
		grid-template-columns: var(--site-columns-wide);
		position: relative;
		grid-column: 1 / -1;
		margin-block: var(--size-8);
		margin-inline: var(--size-3);
	}
	article {
		grid-column: 2 / 4;
		display: grid;
		grid-template-columns: min(760px, 100%);
	}
	time {
		font-family: var(--font-mono);
		color: var(--black);
		opacity: 0.7;
	}
</style>
