---
import siteInfo from "~/data/site-info.js";
import { Icon } from "astro-icon";
---

<a href="/" rel="prefetch" title="Home" data-home-link>
	<Icon name="logo" size={14} /> {siteInfo.name}
</a>

<script>
	import { getElement } from "~/helpers/dom";
	getElement("[data-home-link]", HTMLAnchorElement).addEventListener(
		"contextmenu",
		(event) => {
			event.preventDefault();
			window.location.href = "/about/";
		},
	);
</script>

<style>
	a[href="/"] {
		display: flex;
		gap: 0 var(--size-2);
		align-items: baseline;
		vertical-align: baseline;
		font-family: var(--font-display);
		font-weight: var(--font-weight-7);
		font-size: var(--font-size-2);
		color: var(--_color, var(--black));
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	[astro-icon] {
		vertical-align: baseline;
	}
</style>
