<div>
	<a id="skip-button" href="#skip-destination"> Skip to content</a>
</div>

<style>
	@import "~/styles/media.css";
	div {
		position: relative;
		width: 100vi;
	}
	a {
		background: var(--accent);
		color: var(--always-white);
		font-family: var(--font-display);
		font-size: var(--font-size-5);
		block-size: var(--size-9);
		inset-inline-start: 5%;
		border: 0;
		inline-size: 90%;
		position: absolute;
		text-align: center;
		text-decoration: none;
		inset-block-start: calc(-1*var(--size-14));
		z-index: var(--layer-important);
		@media (--motionOK) {
			transition: all 0.3s ease-in-out;
		}
		&:focus {
			margin-block-start: var(--size-3);
			inset-block-start: var(--size-2);
		}
	}

</style>
