---
import { Icon } from "astro-icon";
import type { SocialLink } from "~/data/site-info.js";
import ExternalLink from "~/components/ExternalLink.astro";

export type Props = {
	links: SocialLink[];
	class?: string;
};

const { links, class: className  } = Astro.props;
---

<div class={className}>
	{
		links.map((link) => (
			<ExternalLink href={link.href}>
				<span class="sr-only">{link.text}</span>
				<Icon name={link.icon} size={32} aria-hidden="true" />
			</ExternalLink>
		))
	}
</div>

<style>
		@import "~/styles/media.css";

	div {
		display: flex;
		align-items: center;
		gap: var(--size-3);
		& a {
			color: var(--_color, var(--always-white));
			&:visited {
				color: var(--_color, var(--always-white));
			}
			transition: scale 0.15s var(--ease-in-out-3);
            &:hover {
                scale: 0.9;
            }
		}
	}
	.footerSocial{
		order: -1;
		@media(--md-n-above){
			order: 4;
		}
	}
</style>
