---
import BaseHead, { type Props as HeadProps } from "~/components/BaseHead.astro";
import SkipLink from "~/components/SkipLink.astro";
import "~/styles/global.css";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead {...head} />
	</head>
	<body>
		<SkipLink text="Skip to main content" />
		<main>
			<slot />
		</main>
		<style>
			@import "~/styles/media.css";
			html.disclosure-open {
				overflow-y: hidden;
			}

			html.disclosure-open #nav {
				overflow-y: auto;
			}
			body {
				overflow-x: hidden;
				display: flex;
				flex-direction: column;
				min-height: 100dvb;
			}
			main {
				position: relative;
				display: grid;
				grid-template-columns: 1fr;
				@media(--md-n-above){
					grid-template-columns: var(--site-columns);
				}
			}
		</style>
	</body>
</html>
